// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.infiniteScroll {
  display: flex;
  justify-content: flex-end;
  background-color: red;
}

.fixedBlock {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.projectBlock {
  width: 43%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5rem;
  padding-right: 9.5%;
}

.projectItem {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-position: center;
  background-size: cover;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
