// MOLECULE [ NAVIGATION ] ############################################################################################

@import "../../../scss/.base/_module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++

.oCopyBlock {
  position: relative;
  padding: 50px 20px;
  min-height: 100vh;
  &.oIntro {
    .aTitle {
      color: $gold;
    }
    .mBodyCopy {
      color: white;
      max-width: 600px;
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &.oFlavour {
    .oColBody {
      * {
        color: white;
      }
    }
  }
}

.aBackgroundColor {
  @include position(absolute, 0);
  z-index: -0;
}

.oContainer {
  position: relative;
  z-index: 1;
}

.aBackgroundImage {
  @include position(absolute, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.aTitle {
  margin: 0 0 50px;
  span {
    position: relative;
  }
}

.mBodyCopy {
  margin: 0;
  opacity: 1;
  position: relative;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
  .oCopyBlock {
    padding: 150px 0;
    &.oFlavour {
      .oColBody {
        padding-left: 50%;
      }
    }
  }
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($lg-up) {
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
