// MOLECULE [ NAVIGATION ] ############################################################################################

@import "scss/.base/module-index";

// A. GLOBAL STYLES +++++++++++++++++++++++++++++++++++++
.oNavMain {
  position: absolute;
  z-index: 100;
  .mNavMobile {
    width: 100%;
    top: 0;
    bottom: 0;
    &.navOpen {
      position: fixed;
      background-color: white;
      opacity: 1;
      transition: 0.3s;
      z-index: 100;
    }
    &.navClosed {
      opacity: 0;
    }
  }
  .mNavDesktop {
    position: fixed;
    width: 100%;
  }
}

.mMenu {
  display: block;
  margin: 0 80px 0 auto;
  text-align: right;
  .navLink {
    display: inline-block;
    position: relative;
    &:after {
      position: absolute;
      bottom: 10px;
      width: 0;
      content: "";
      height: 2px;
      background-color: #000;
      @include center-align();
      transition: 0.3s;
    }
    &:hover {
      &::after {
        width: 100%;
        transition: 0.3s;
      }
    }
  }
}

.aLink {
  margin: 15px;
  display: block;
  color: black;
  text-decoration: none;
}
.burgerWrapper {
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px;
  &.navOpen {
    opacity: 0;
  }
}
.mNavBurger {
  position: absolute;
  right: 10px;
  top: 10px;
}

// A. END +++++++++++++++++++++++++++++++++++++++++++++++

// B. GRACEFUL DEGRADATION ++++++++++++++++++++++++++++++

@media ($md-dn) {
  .mMenu {
    margin: 50px auto;
    padding: 0;
    text-align: center;
    .navLink {
      display: block;
    }
  }
}

// B. END +++++++++++++++++++++++++++++++++++++++++++++++

// C. MIN-WIDTH: 768px ++++++++++++++++++++++++++++++++++

@media ($md-up) {
}

// C. END +++++++++++++++++++++++++++++++++++++++++++++++

// D. MIN-WIDTH: 992px ++++++++++++++++++++++++++++++++++

@media ($lg-up) {
  .burgerWrapper {
    display: none;
  }

  .mMenu {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: white;
    position: sticky;
  }
  .aLink {
    margin: 15px 7px;
  }
}

// D. END +++++++++++++++++++++++++++++++++++++++++++++++

// E. MIN-WIDTH: 1200px +++++++++++++++++++++++++++++++++

@media ($xl-up) {
  .aLink {
    margin: 15px;
  }
}

// E. END +++++++++++++++++++++++++++++++++++++++++++++++

// END OF FILE ########################################################################################################
